appdirs==1.4.3
beautifulsoup4==4.9.0
bleach==3.1.4
certifi==2022.12.7
cffi==1.14.0
chardet==3.0.4
check-manifest==0.41
coverage==5.1
cryptography==2.9
distlib==0.3.0
django-bootstrap4==1.1.1
docutils==0.16
entrypoints==0.3
filelock==3.0.12
flake8==3.7.9
flake8-print==3.1.4
google==2.0.3
idna==2.9
isodate==0.6.0
jeepney==0.4.3
keyring==21.2.0
mccabe==0.6.1
pdfkit==0.6.1
pep517==0.8.2
pkginfo==1.5.0.1
-e git+https://github.com/jandrovins/psutil.git@122174a10b75c9beebe15f6c07dcf3afbe3b120d#egg=psutil
pycodestyle==2.5.0
pycparser==2.20
pyflakes==2.1.1
Pygments==2.6.1
pyperf==2.0.0
readme-renderer==25.0
requests==2.23.0
requests-toolbelt==0.9.1
SecretStorage==3.1.2
sip==4.19.13
six==1.14.0
soupsieve==2.0
toml==0.10.0
tqdm==4.45.0
twine==3.1.1
urllib3==1.25.8
virtualenv==20.0.17
Warcat==2.2.5
webencodings==0.5.1
